:root {
    --background-color: #fff;
    --text-color: #333;
    --link-color: #999;
    --link-hover-color: #666;
}

body {
    margin: 60px auto;
    width: 70%;
    background-color: var(--background-color);
    color: var(--text-color);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Dark mode styles */
body.dark-mode {
    --background-color: #333;
    --text-color: #fff;
    --link-color: #bbb;
    --link-hover-color: #fff;
}
