<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
        <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
        <script>
            // Check for saved user preference, if any, on load of the website
            window.onload = function() {
                const darkMode = localStorage.getItem('darkMode');
                if (darkMode === 'enabled') {
                    document.documentElement.classList.add('dark-mode');
                }
            }

            function toggleTheme() {
                const root = document.documentElement;
                root.classList.toggle('dark-mode');
                
                // Save user preference
                if (root.classList.contains('dark-mode')) {
                    localStorage.setItem('darkMode', 'enabled');
                } else {
                    localStorage.setItem('darkMode', 'disabled');
                }
            }
        </script>
        <!-- Google Analytics tag if you have it -->
        {% if site.google_analytics %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ site.google_analytics }}');
        </script>
        {% endif %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/work">Work</a></li>
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/talks-writing">Talks & Writing</a></li>
                <li><a href="{{ site.baseurl }}/recommendations">Recommendations</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact Me</a></li>
                <li><button onclick="toggleTheme()" class="theme-toggle" aria-label="Toggle dark mode">🌓</button></li>
            </ul>
        </nav>
        <div class="container">
        {{ content }}
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:aritrag94@gmail.com">email</a></li>
                <li><a href="https://www.linkedin.com/in/aritraghoshpm">linkedin</a></li>
                <li><a href="https://github.com/aritraghosh">github</a></li>
                <li><a href="https://medium.com/@aritrag94">medium</a></li>
            </ul>
        </footer>
    </body>
</html>